.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

/*          BODY, éléments principaux         */

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

a:hover{
    transition: ease 0.6s ;
    background-color: #e4afe2;
}

/*        HEADER        */

header>.container{}

header {
    background-color: #f5d5f6;
    height: 18rem;
    box-sizing: border-box;
}

/*  Livraison offerte */

.topbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 0.5rem;
}

.topbar>small {
    font-size: 0.8rem;
}

/* Logo */

header>div.container>a>img {
    float: left;
}

/* Mon panier */

#cart {
    float: right;
    margin: 3rem;
}

#cart>i{
    color:#e4afe2;
    font-size: 2rem;
}

.left{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0.5rem;
    font-size: 1rem;
}

.left>span{
    font-weight: bold;
}



/* Nav bar */

nav {
    padding-top: 2rem;
    clear: both;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav>a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}

/*                MAIN                */

main {
    box-sizing: border-box;
    margin: 3rem;
}

/* Les plus beaux escarpins du monde */

#slider {
    text-align: center;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.1);
}

#slider>img {
    width: 100%;
    position: relative;
}

#slider>h2 {
    position: absolute;
    margin: 0;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(246, 212, 245, 0.8);
    text-align: left;
    font-size: 0.8rem;
}

#slider>h2>span {
    font-weight: lighter;
}

/* Choisissez vos escarpins */

.escarpin {
    font-family: Courgette;
}

#select {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.1);
}

#select>h1 {
    width: 100%;
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

#select>article {
    max-width: 12%;
}

.escarpin>img {
    width: 15vh;
    height: auto;
}

#select>article>h3 {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: lighter;

}

/* Nouveautés, best sellers, coup de coeur */

#news {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#new,
#best,
#crush {
    background-color: white;
    padding: 1.2rem;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.1);
}

#new {
    h2 {
        background-color: #e932c3;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem;
        
    }

    width: 25%;
}

#best {
    h2 {
        background-color: #92be44;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    width: 25%;
}

#crush {
    h2 {
        background-color: #0099b1;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    width: 25%;
}

#news>article>h3 {
    font-family: Courgette;
    font-size: 1rem;
}

#news>article>small {
    font-family: Courgette;
    font-size: 0.8rem;

}



#news>img {
    max-width: 100%;
}

/*              FOOTER            */

footer {
    margin: 0;
}

/* Paiment, livraison, carte, service, garantie */

#info {
    background-color: #e4afe2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.9rem;
}

#info>article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info>article:hover{
    color: white;
    transition: ease 0.6s;
}

#info>article>i{
    padding-bottom: 0.3rem;
}

/* Shoesplash, commandez en ligne, suivez-nous */

#bottombar {
    background-color: #f5d5f6;
    display: flex;
    justify-content: space-around;
}

#bottombar>article>h2 {
    font-size: 1em;
    text-align: center;
    padding: 1rem;
}

#bottombar>article{
}

#bottombar>article>ul>li {
    text-align: center;
    list-style: none;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

@media (max-width: 845px) {
    #cart {
        display: none;
    }


    @media (max-width: 640px) {

        header{
            padding-bottom: 29rem;
        }

        header>.container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #cart {
            display: none;
        }

        nav {
            flex-direction: column;
            width: 100%;
        }

        #slider {
            align-content: center;
        }

        #slider>h2 {
            background-color: rgba(245, 213, 246);
            font-size: 1rem;
            margin-right: 2rem;
        }

        #slider>img {
            margin-top: 7rem;
        }


        #select {
            flex-direction: column;
            align-items: center;
        }

        #select>article {
            max-width: 100%;
        }

        #select>img {}

        #new,
        #best,
        #crush {
            width: 100%;
            margin-bottom: 2rem;
        }

        #news {
            flex-direction: column;
            align-items: center;
        }

        #info {
            flex-direction: column;
            align-items: center;
        }

        #info>article{
          padding-bottom: 2rem;

        }

        #bottombar {
            flex-direction: column;
            align-items: center;
        }


    }







    /* HEADER */
    /* .topbar -> header livraison offerte */
    /* header>.container -> logo + mon panier + navbar */
    /* header>div.container>a>img -> logo */
    /* #cart -> panier */
    /* header>nav -> nav bar */

    /* MAIN */

    /* .slider -> main object front page */
    /* .select -> choix entre 5 chaussures, row */
    /* .news -> choix entre 3, columns */

    /* FOOTER */

    /* #info -> ligne rose + foncé avec 5 icones */
    /* #bottombar -> barre du bas, rose - foncé, 3 listes */

    /* couleurs : 
    #f5d5f6 rose pâle (header, footer)
    #f2f2f2 rose + clair (body)
    #e4afe2 rose + foncé (cart, #info)

    .news titres : #e932c3 #92be44 #0099b1
*/