.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

/*          BODY, éléments principaux         */

body {
    background-color: #f2f2f2;
    margin: 0rem;
    font-family: sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

/*        HEADER        */

header {
    background-color: #f5d5f6;
    flex-direction: row;
    height: 15rem;
    box-sizing: border-box;
}

/*  Livraison offerte */

.topbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 0.5rem;
}

.topbar>small {
    font-size: 0.8rem;
}

/* Logo */

header>div.container>a>img {
    float: left;
}

/* Mon panier */

#cart {
    float: right;
    margin: 3rem;
}

/* Nav bar */

nav {
    background-color: #f5d5f6;
    clear: both;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav>a {
    text-decoration: none;
    margin: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

/*                MAIN                */

main {
    box-sizing: border-box;
    margin: 3rem;
}

/* Les plus beaux escarpins du monde */

#slider {
    text-align: center;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

#slider>img {
    width: 100%;
    position: relative;
}

#slider>h2{
    position: absolute;
    margin: 0;
    z-index: 1;
    padding: 1.5rem;
    background-color: rgba(245, 213, 246, 0.5);
    text-align: left;
    font-size: 1rem;
}

#slider>h2>span{
    font-weight: lighter;
}

/* Choisissez vos escarpins */

.escarpin{
    font-family: Courgette;
}

#select {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

#select>h1 {
    width: 100%;
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

#select>article {
    max-width: 12%;
}

.escarpin>img {
    width: 15vh;
    height: auto;
}

#select>article>h3{
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: lighter;

}

/* Nouveautés, best sellers, coup de coeur */

#news {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#new,
#best,
#crush {
    background-color: white;
    padding: 1.2rem;

}

#new {
    h2 {
        background-color: #e932c3;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.2rem;
    }

    width: 25%;
}

#best {
    h2 {
        background-color: #92be44;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.2rem;
    }

    width: 25%;
}

#crush {
    h2 {
        background-color: #0099b1;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
        padding: 0.2rem;
    }

    width: 25%;
}

#news>article>h3{
    font-family: Courgette;
    font-size: 1rem;
}

#news>article>small{
    font-family: Courgette;    
    font-size: 0.8rem;
    
}



#news>img {
    max-width: 100%;
}

/*              FOOTER            */

footer {
    box-sizing: border-box;
}

/* Paiment, livraison, carte, service, garantie */

#info {
    background-color: #e4afe2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

/* Shoesplash, commandez en ligne, suivez-nous */

#bottombar {
    background-color: #f5d5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#bottombar>article>h2{
    font-size: 0.9rem;
    text-align: center;
}


li {
    text-align: center;
    list-style: none;
    font-size: 0.65rem;
    line-height: 1.2rem;
}


@media (max-width: 640px) {

    header>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header>div.container>a>img {}

    #cart {
        display: none;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    #slider {
        flex-direction: column;
        align-items: center;
        margin-top: 23rem;
    }

    #slider>h2 {
        background-color: #92be44;
    }

    #select {
        flex-direction: column;
        align-items: center;
    }


    #news {
        flex-direction: column;
        align-items: center;
    }

    #info {
        flex-direction: column;
        align-items: center;
    }

    #bottombar {
        flex-direction: column;
        align-items: center;
    }


}







/* HEADER */
/* .topbar -> header livraison offerte */
/* header>.container -> logo + mon panier + navbar */
/* header>div.container>a>img -> logo */
/* #cart -> panier */
/* header>nav -> nav bar */

/* MAIN */

/* .slider -> main object front page */
/* .select -> choix entre 5 chaussures, row */
/* .news -> choix entre 3, columns */

/* FOOTER */

/* #info -> ligne rose + foncé avec 5 icones */
/* #bottombar -> barre du bas, rose - foncé, 3 listes */

/* couleurs : 
    #f5d5f6 rose pâle (header, footer)
    #f2f2f2 rose + clair (body)
    #e4afe2 rose + foncé (cart, #info)

    .news titres : #e932c3 #92be44 #0099b1
*/