.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}


/* BODY, éléments principaux*/

body{
    background-color: #f2f2f2;

}

img {
    height: auto;
    max-width: 100%;
}

/* HEADER */

header {
    background-color: #f5d5f6;
    flex-direction: row;
    height: 15rem;
    box-sizing: border-box
}

/* .topbar -> header livraison offerte */

.topbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 0.5rem;
}

/* header>div.container>a>img -> logo */

header>div.container>a>img {
    float: left;

}

/* #cart -> panier */

#cart {
    float: right;
}

/* header>nav -> nav bar */

nav {
    display: flex;
    flex-direction: row;

}

/* header>nav>a : liens nav bar */

nav>a {
    text-decoration: none;
}

/* MAIN */

main{
    box-sizing: border-box
}


/* Les plus beaux escarpins du monde */

#slider{
    text-align: center;
}

#slider>img{
    width: 50%;
}



/* Choisissez vos escarpins */

#select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#select>h1{
width: 100%;
}
    
#select>article{
    max-width: 10%;
}

#select>img{
}


/* Nouveautés, best sellers, coup de coeur */

#news{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#new, #best, #crush {
    flex-direction: column;
}

#new{
    h2{background-color:#e932c3 ;}
    width: 20%;
}

#best{
    h2{background-color:#92be44;}
    width: 20%;

}
#crush{
    h2{background-color: #0099b1;}
    width: 20%;
}

#news>img{
    max-width: 100%;
}


/* FOOTER */

footer{
    box-sizing: border-box
}

/* Paiment, livraison, carte, service, garantie */

#info {
    background-color: #e4afe2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Shoesplash, commandez en ligne, suivez-nous */

#bottombar {
    background-color: #f5d5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}






/* HEADER */
/* .topbar -> header livraison offerte */
/* header>.container -> logo + mon panier + navbar */
/* header>div.container>a>img -> logo */
/* #cart -> panier */
/* header>nav -> nav bar */

/* MAIN */

/* .slider -> main object front page */
/* .select -> choix entre 5 chaussures, row */
/* .news -> choix entre 3, columns */

/* FOOTER */

/* #info -> ligne rose + foncé avec 5 icones */
/* #bottombar -> barre du bas, rose - foncé, 3 listes */

/* couleurs : 
    #f5d5f6 rose pâle (header, footer)
    #f2f2f2 rose + clair (body)
    #e4afe2 rose + foncé (cart, #info)

    .news titres : #e932c3 #92be44 #0099b1
*/